.toolbox {
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 40px;
}

.loading-container {
  margin-top: 40px;
  height: 468px;
  border-radius: 5px;
  border: 2px solid;
  background-color: aquamarine;
}

.chart-container {
  margin-top: 40px;
}

.loading{
  margin: auto;
  line-height: 400px;
}