.row {
  margin-top: 10px;
}

.btn {
  margin-right: 5px;
}

.tab-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  padding: 10px;
}

.alert {
  margin-top: 20px;
}

.image-container{
  border-radius: 3px;
  padding: 0px;
  width: 100%;
  max-height: 500px;
  min-height: 250px;
  overflow: scroll;
  .image {
    width: initial !important;
  }
}

.add-image {
  width: 100%;
  height: 500px;
  background-color: #ddd;
}

.add-image-form {
  width: 500px;
  margin: auto;
  margin-top: 200px;
}

.legend{
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px;
  .panel-body {
    max-height: 200px;
    overflow: scroll;
  }
  .checkbox-inline {
    margin-top: 2px;
  }
  .legend-item {
    display: flex;
    .legend-detail {
      display: flex;
    }
    .icon {
      margin: 5px;
    }
    span {
      line-height: 25px
    }
  }
  .legend-item:hover {
    cursor: pointer;
  }
}

.toggle {
  margin-left: 10px;
}

.radio-button-container, .checkbox-button-container{
  margin-left: 10px;
}

.info-container, dummy-container, editor-container {
  padding-left: 0px !important;
  padding-right: 5px !important;
}

.toolbox-container {
  padding-right: 0px !important;
  padding-left: 5px !important;
}

.panel-title {
  display: flex;
}


